@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  box-sizing: border-box;
  //border: 1px solid red;
}

::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

button {
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  font-size: 15px;
}

#cityNameInput {
  margin: 10px;
}

#weather-icon {
  height: 100px;
  width: 100px;
  margin: 30px;
}

.weather-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}